.azpay-lite-debit-card .inputs li {
    padding: 5px 0px;
    margin: 0;
    list-style: none;
}
.azpay-lite-debit-card p {
    margin: 0;
}

.azpay-lite-debit-card .input-flag {
    display: inline-block;
    margin-right: 10px;
}
.azpay-lite-debit-card .input-flag img {
    margin: 0 !important;
}
.azpay-lite-debit-card .display-block {
    display: inline-block;
    width: 49%;
}

.azpaylte-dc-form-parcel {
    border: 0;
    padding: 5px;
}

.azpaylte-dc-form-flag {
    margin-right: 5px !important;
}
